
10x Visium project background and analysis- Wen-Luo lab.docx
*.cloupe
*.pdf
*.html
*.rds
S1S2_integrate_augur_UMAP.png
S3S4_integrate_augur_UMAP.png
sample1/.DS_Store
sample1/filtered_feature_bc_matrix.h5
sample1/filtered_feature_bc_matrix/barcodes.tsv.gz
sample1/filtered_feature_bc_matrix/features.tsv.gz
sample1/filtered_feature_bc_matrix/matrix.mtx.gz
sample1/metrics_summary.csv
sample1/molecule_info.h5
sample1/spatial/aligned_fiducials.jpg
sample1/spatial/detected_tissue_image.jpg
sample1/spatial/scalefactors_json.json
sample1/spatial/tissue_hires_image.png
sample1/spatial/tissue_lowres_image.png
sample1/spatial/tissue_positions_list.csv
sample10/.DS_Store
sample10/filtered_feature_bc_matrix.h5
sample10/filtered_feature_bc_matrix/barcodes.tsv.gz
sample10/filtered_feature_bc_matrix/features.tsv.gz
sample10/filtered_feature_bc_matrix/matrix.mtx.gz
sample10/metrics_summary.csv
sample10/molecule_info.h5
sample10/spatial/aligned_fiducials.jpg
sample10/spatial/detected_tissue_image.jpg
sample10/spatial/scalefactors_json.json
sample10/spatial/tissue_hires_image.png
sample10/spatial/tissue_lowres_image.png
sample10/spatial/tissue_positions_list.csv
sample11/.DS_Store
sample11/filtered_feature_bc_matrix.h5
sample11/filtered_feature_bc_matrix/barcodes.tsv.gz
sample11/filtered_feature_bc_matrix/features.tsv.gz
sample11/filtered_feature_bc_matrix/matrix.mtx.gz
sample11/metrics_summary.csv
sample11/molecule_info.h5
sample11/spatial/aligned_fiducials.jpg
sample11/spatial/detected_tissue_image.jpg
sample11/spatial/scalefactors_json.json
sample11/spatial/tissue_hires_image.png
sample11/spatial/tissue_lowres_image.png
sample11/spatial/tissue_positions_list.csv
sample12/.DS_Store
sample12/filtered_feature_bc_matrix.h5
sample12/filtered_feature_bc_matrix/barcodes.tsv.gz
sample12/filtered_feature_bc_matrix/features.tsv.gz
sample12/filtered_feature_bc_matrix/matrix.mtx.gz
sample12/metrics_summary.csv
sample12/molecule_info.h5
sample12/spatial/aligned_fiducials.jpg
sample12/spatial/detected_tissue_image.jpg
sample12/spatial/scalefactors_json.json
sample12/spatial/tissue_hires_image.png
sample12/spatial/tissue_lowres_image.png
sample12/spatial/tissue_positions_list.csv
sample2/.DS_Store
sample2/filtered_feature_bc_matrix.h5
sample2/filtered_feature_bc_matrix/barcodes.tsv.gz
sample2/filtered_feature_bc_matrix/features.tsv.gz
sample2/filtered_feature_bc_matrix/matrix.mtx.gz
sample2/metrics_summary.csv
sample2/molecule_info.h5
sample2/spatial/aligned_fiducials.jpg
sample2/spatial/detected_tissue_image.jpg
sample2/spatial/scalefactors_json.json
sample2/spatial/tissue_hires_image.png
sample2/spatial/tissue_lowres_image.png
sample2/spatial/tissue_positions_list.csv
sample3/.DS_Store
sample3/filtered_feature_bc_matrix.h5
sample3/filtered_feature_bc_matrix/barcodes.tsv.gz
sample3/filtered_feature_bc_matrix/features.tsv.gz
sample3/filtered_feature_bc_matrix/matrix.mtx.gz
sample3/metrics_summary.csv
sample3/molecule_info.h5
sample3/spatial/aligned_fiducials.jpg
sample3/spatial/detected_tissue_image.jpg
sample3/spatial/scalefactors_json.json
sample3/spatial/tissue_hires_image.png
sample3/spatial/tissue_lowres_image.png
sample3/spatial/tissue_positions_list.csv
sample4/filtered_feature_bc_matrix.h5
sample4/filtered_feature_bc_matrix/barcodes.tsv.gz
sample4/filtered_feature_bc_matrix/features.tsv.gz
sample4/filtered_feature_bc_matrix/matrix.mtx.gz
sample4/metrics_summary.csv
sample4/molecule_info.h5
sample4/spatial/aligned_fiducials.jpg
sample4/spatial/detected_tissue_image.jpg
sample4/spatial/scalefactors_json.json
sample4/spatial/tissue_hires_image.png
sample4/spatial/tissue_lowres_image.png
sample4/spatial/tissue_positions_list.csv
sample5/.DS_Store
sample5/filtered_feature_bc_matrix.h5
sample5/filtered_feature_bc_matrix/barcodes.tsv.gz
sample5/filtered_feature_bc_matrix/features.tsv.gz
sample5/filtered_feature_bc_matrix/matrix.mtx.gz
sample5/metrics_summary.csv
sample5/molecule_info.h5
sample5/spatial/aligned_fiducials.jpg
sample5/spatial/detected_tissue_image.jpg
sample5/spatial/scalefactors_json.json
sample5/spatial/tissue_hires_image.png
sample5/spatial/tissue_lowres_image.png
sample5/spatial/tissue_positions_list.csv
sample6/.DS_Store
sample6/filtered_feature_bc_matrix.h5
sample6/filtered_feature_bc_matrix/barcodes.tsv.gz
sample6/filtered_feature_bc_matrix/features.tsv.gz
sample6/filtered_feature_bc_matrix/matrix.mtx.gz
sample6/metrics_summary.csv
sample6/molecule_info.h5
sample6/spatial/aligned_fiducials.jpg
sample6/spatial/detected_tissue_image.jpg
sample6/spatial/scalefactors_json.json
sample6/spatial/tissue_hires_image.png
sample6/spatial/tissue_lowres_image.png
sample6/spatial/tissue_positions_list.csv
sample7/.DS_Store
sample7/filtered_feature_bc_matrix.h5
sample7/filtered_feature_bc_matrix/barcodes.tsv.gz
sample7/filtered_feature_bc_matrix/features.tsv.gz
sample7/filtered_feature_bc_matrix/matrix.mtx.gz
sample7/metrics_summary.csv
sample7/molecule_info.h5
sample7/spatial/aligned_fiducials.jpg
sample7/spatial/detected_tissue_image.jpg
sample7/spatial/scalefactors_json.json
sample7/spatial/tissue_hires_image.png
sample7/spatial/tissue_lowres_image.png
sample7/spatial/tissue_positions_list.csv
sample8/.DS_Store
sample8/filtered_feature_bc_matrix.h5
sample8/filtered_feature_bc_matrix/barcodes.tsv.gz
sample8/filtered_feature_bc_matrix/features.tsv.gz
sample8/filtered_feature_bc_matrix/matrix.mtx.gz
sample8/metrics_summary.csv
sample8/molecule_info.h5
sample8/spatial/aligned_fiducials.jpg
sample8/spatial/detected_tissue_image.jpg
sample8/spatial/scalefactors_json.json
sample8/spatial/tissue_hires_image.png
sample8/spatial/tissue_lowres_image.png
sample8/spatial/tissue_positions_list.csv
sample9/.DS_Store
sample9/filtered_feature_bc_matrix.h5
sample9/filtered_feature_bc_matrix/barcodes.tsv.gz
sample9/filtered_feature_bc_matrix/features.tsv.gz
sample9/filtered_feature_bc_matrix/matrix.mtx.gz
sample9/metrics_summary.csv
sample9/molecule_info.h5
sample9/spatial/aligned_fiducials.jpg
sample9/spatial/detected_tissue_image.jpg
sample9/spatial/scalefactors_json.json
sample9/spatial/tissue_hires_image.png
sample9/spatial/tissue_lowres_image.png
sample9/spatial/tissue_positions_list.csv
*.xlsx
